---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
BinPackArguments: false
BinPackParameters: false

IncludeCategories:
  - Regex:           '^<.*>$'
    Priority:        1
  - Regex:           '^"gtest/.*"$'
    Priority:        2
  - Regex:           '^".*"$'
    Priority:        3
...
