.idea/*
cmake-build-debug/*
a.out
perf.data
perf.data.old
CMakeFiles/*
CMakeCache.txt
googletest-build/*
googletest-download/*
googletest-src
cmake_install.cmake
Makefile
lib/*
out/*
stim.cbp
data/*
_deps/*
bazel-*
python_build_stim/*
stim.egg*
stim.cpython*
