.idea/*
cmake-build-debug/*
a.out
perf.data
perf.data.old
CMakeFiles/*
CMakeCache.txt
googletest-build/*
googletest-download/*
googletest-src
cmake_install.cmake
Makefile
lib/*
out/*
stim.cbp
data/*
_deps/*
bazel-*
python_build_stim/*
*.egg-*
stim.cpython*
**/dist/*
MANIFEST
*.whl
*.swp
**/__pycache__/**
pip-wheel-metadata/*
wheelhouse/*
*.pyd
venv/*
.venv/*
**/LastTest.log
*.so
.clwb/*
.cmake/*
