body {
    font-family: sans-serif;
}

#main-container {
    padding: 4px;
}

table tr {
    border: 1px solid black;
}
table td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}
table th {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

button {
    background: white;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    margin: 2px 4px;
    padding: 2px 8px;
}

button:hover {
    background: #e9e9e9;
}

button:active {
    background: #cccccc;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.btn-group {
    display: flex;
    flex-direction: column;
}

#examples-dialog {
}

#examples-div {
}

#examples-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: 900;
}
